@use './_variables' as *;
@use './_mixins' as *;

.btn {
  @include flex(center, center);
  gap: $spacing-16;
  border-radius: $border-radius-16;
  padding: $spacing-20;
  font-size: $font-size-18;
  width: $full;
  font-weight: $font-weight-medium;
  cursor: pointer;
  @media screen and (max-width: 575px) {
    font-size: $font-size-16;
    padding: $spacing-16;
  }
  @media screen and (max-width: 420px) {
    padding: $spacing-16 $spacing-12;
  }
  &:disabled {
    opacity: $opacity-20;
    cursor: not-allowed;
    pointer-events: none;
  }
  &:hover {
    opacity: $opacity-70;
  }
  &.btn-glass {
    border: 1px solid $color-tertiary;
    background-color: $color-glass-btn-10;
    color: $color-white;
    line-height: $spacing-28;
    @media screen and (max-width: 575px) {
      font-size: $font-size-16;
      line-height: $spacing-24;
      gap: $spacing-8;
    }
  }

  &.btn-primary {
    padding: $spacing-12;
    border-radius: $border-radius-8;
    border: 1px solid $color-tertiary;
    background-color: $color-tertiary;
    box-shadow: $box-shadow-xs;
    color: $color-white;
    font-size: $font-size-16;
    height: $spacing-48;
  }

  &.btn-secondary {
    padding: $spacing-12;
    border-radius: $border-radius-8;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    box-shadow: $box-shadow-xs;
    color: $color-white;
    font-size: $font-size-16;
    height: $spacing-48;
  }

  &.btn-light {
    padding: $spacing-12;
    border-radius: $border-radius-8;
    border: 1px solid $color-gray-300;
    background-color: $color-white;
    box-shadow: $box-shadow-xs;
    color: $color-gray-700;
    font-size: $font-size-16;
    height: $spacing-48;
  }

  &.btn-transparent {
    padding: 0;
    border-radius: $border-radius-8;
    background-color: $color-white;
    color: $color-gray-500;
    border: 0;
    svg {
      height: $spacing-20;
      width: $spacing-20;
      color: inherit;
    }
  }

  &.btn-alert {
    padding: $spacing-12;
    border-radius: $border-radius-8;
    border: 1px solid $color-error-600;
    background-color: $color-error-600;
    box-shadow: $box-shadow-xs;
    color: $color-white;
    font-size: $font-size-16;
    height: $spacing-48;
  }

  &.btn-text {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  &.btn-subscribed {
    border: 1px solid $color-gray-300;
    color: $color-gray-700;
    background-color: transparent;
  }
}
