@use './variables' as var;

// Flex
@mixin flex($align-items: stretch, $justify-content: flex-start, $gap: null, $direction: row, $display: flex) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;

  @if $gap != null {
    gap: $gap;
  }
}

// position Fixed Center
@mixin positionFixedCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Transition
@mixin transition($property: all, $duration: 0.3s, $animation: ease-in-out) {
  transition: $property $duration $animation;
}

// Position Absolute
@mixin positionAbsolute($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Truncate text
@mixin truncate($lines, $lh: 1.2, $spacer: 0) {
  line-height: $lh;
  max-height: $lh * $lines + $spacer + em;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
